<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="{% static "img/icon.png" %}"/>
	<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "form-validator/jquery.form-validator.js" %}"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movies Social Network</title>
	<link rel="stylesheet" href="{% static "css/style_forget.css" %}"/>
</head>
<body>
<div class="container-fluid">
	<div class="header row">
		<h1><strong><em>welcome to forget password page!</em></strong></h1>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div class="forget">
				<article class="head">
					<h4>
						<strong>Can't sign in? Forget your password?</strong>
					</h4>
					<h5>
						Enter your email address below for resetting your password.
					</h5>
					<h5>
						<strong>Enter your email address</strong>
					</h5>
				<form action="/reset/" method="post" accept-charset="utf-8" class="form-horizontal">
					{% csrf_token %}
					<div class="in input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-envelope-o fa-lg"></i></span>
						<input class="form-control" type="text" placeholder="Email address" data-validation="required email" 
						data-validation-error-msg-email="Please insert a correct email address!" 
						data-validation-error-msg-required="This field is required!" data-validation-error-msg-container="#error" name="mail"/>
					</div>
					<div class="row">
						<div class="form-inline">
							<div id="error" class="input-group">
								<ol>
									{% for e in form.errors %}
										<li>{{e}}</li>
									{% endfor %}
								</ol>
							</div>
						</div>
					</div>
					<div class="buttons">
						<button style="margin-right: 10px" onclick="window.open('/login/')" class="btn btn-default"><strong>Go Back</strong></button>
						<button type="submit" class="btn btn-primary"><strong>Reset Password</strong></button>
					</div>
					<div class="line">
					</div>
					<h5 style="color: gray">
						<strong>A note about spam filters</strong>
					</h5>
					<p>
						If you didn't get an email from us within a few minutes, please be sure to check your spam filter. The email will be sent to your spam.
					</p>
				</form>
				</article>
			</div>
		</div>
		<div class="col-xs-4">
		</div>
	</div>
</body>
</html>